html, body {
    width: 500px;
    background-color: #EFE1BA;
}

.panel {
    padding: 10px;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 49%;
}

.col-r {
    float: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    width: 100%;
}

.button {
    width:100%;
    text-align:center;
    padding: 0.5rem 0;
    background-color: #4056A1;
    border-radius: 3px;
    margin: 4px auto;
    font-size: 2em;
}

.button:hover{
    background-color: #C5CBE3;
}


i {
    margin: 3px;
}

a {
    color: #333;
    text-decoration: none;
}


.search-form {
    /* This bit sets up the horizontal layout */
    /* This bit draws the box around it */
    border:3px solid white;
    /* I've used padding so you can see the edges of the elements. */
    padding:4px;
}

input#input-search {
    /* Tell the input to use all the available space */
    background-color: inherit;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    font-size: 2em;
}

input#input-search:focus {
    outline: none;
    width: 100%;
}
